{:pod/name atomisthq/docker
 :pod/description "docker golang utils for clojure"
 :pod/version "0.1.0"
 :pod/license "Apache"
 :pod/example "https://raw.githubusercontent.com/atomisthq/pod-babashka-docker/main/dev/user.clj"
 :pod/language "go"
 :pod/artifacts
 [{:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/atomisthq/pod-atomisthq-docker/releases/download/v0.1.0/pod-atomisthq-docker-0.1.0-linux-amd64.zip"
   :artifact/executable "pod-atomisthq-docker"}
  {:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/atomisthq/pod-atomisthq-docker/releases/download/v0.1.0/pod-atomisthq-docker-0.1.0-macos-x86_64.zip"
   :artifact/executable "pod-atomisthq-docker"}
  {:os/name "Mac.*"
   :os/arch "aarch64"
   :artifact/url "https://github.com/atomisthq/pod-atomisthq-docker/releases/download/v0.1.0/pod-atomisthq-docker-0.1.0-macos-arm64.zip"
   :artifact/executable "pod-atomisthq-docker"}]}

