{:pod/name org.babashka/duckdb
 :pod/description "Duckdb access via next.jdbc"
 :pod/version "0.1.4"
 :pod/license ""
 :pod/example "examples/duckdb.clj"
 :pod/language "clojure"
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.4/pod-babashka-duckdb-0.1.4-macos-amd64.zip"
   :artifact/executable "pod-babashka-duckdb"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.4/pod-babashka-duckdb-0.1.4-linux-amd64.zip"
   :artifact/executable "pod-babashka-duckdb"}
  {:os/name "Linux.*"
   :os/arch "aarch64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.4/pod-babashka-duckdb-0.1.4-linux-aarch64.zip"
   :artifact/executable "pod-babashka-duckdb"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.4/pod-babashka-duckdb-0.1.4-windows-amd64.zip"
   :artifact/executable "pod-babashka-duckdb.exe"}]}
