{:pod/name org.babashka/mssql
 :pod/description ""
 :pod/version "0.1.0"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.0/pod-babashka-mssql-0.1.0-macos-amd64.zip"
   :artifact/executable "pod-babashka-mssql"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.0/pod-babashka-mssql-0.1.0-linux-static-amd64.zip"
   :artifact/executable "pod-babashka-mssql"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/babashka-sql-pods/releases/download/v0.1.0/pod-babashka-mssql-0.1.0-windows-amd64.zip"
   :artifact/executable "pod-babashka-mssql.exe"}]}
