{:pod/name org.babashka/filewatcher
 :pod/description ""
 :pod/version "0.0.1"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/pod-babashka-filewatcher/releases/download/v0.0.1/pod-babashka-filewatcher-0.0.1-linux-amd64.zip"
   :artifact/executable "pod-babashka-filewatcher"}
  {:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/babashka/pod-babashka-filewatcher/releases/download/v0.0.1/pod-babashka-filewatcher-0.0.1-macos-amd64.zip"
   :artifact/executable "pod-babashka-filewatcher"}]}
