{:pod/name        ilmoraunio/conftest
 :pod/description "Access Conftest internal API"
 :pod/version     "0.0.4"
 :pod/license     "MIT"
 :pod/artifacts
 [{:os/name             "Linux.*"
   :os/arch             "amd64"
   :artifact/url        "https://github.com/ilmoraunio/pod-ilmoraunio-conftest/releases/download/v0.0.4/pod-ilmoraunio-conftest-0.0.4-linux-amd64.zip"
   :artifact/executable "pod-ilmoraunio-conftest"}
  {:os/name             "Linux.*"
   :os/arch             "aarch64"
   :artifact/url        "https://github.com/ilmoraunio/pod-ilmoraunio-conftest/releases/download/v0.0.4/pod-ilmoraunio-conftest-0.0.4-linux-arm64.zip"
   :artifact/executable "pod-ilmoraunio-conftest"}
  {:os/name             "Mac.*"
   :os/arch             "aarch64"
   :artifact/url        "https://github.com/ilmoraunio/pod-ilmoraunio-conftest/releases/download/v0.0.4/pod-ilmoraunio-conftest-0.0.4-macos-aarch64.zip"
   :artifact/executable "pod-ilmoraunio-conftest"}
  {:os/name             "Windows.*"
   :os/arch             "amd64"
   :artifact/url        "https://github.com/ilmoraunio/pod-ilmoraunio-conftest/releases/download/v0.0.4/pod-ilmoraunio-conftest-0.0.4-windows-amd64.zip"
   :artifact/executable "pod-ilmoraunio-conftest.exe"}]}
