{:pod/name retrogradeorbit/bootleg
 :pod/description "Template processing command line tool to help build static websites. Inbuilt support for html, hiccup, hickory, selmer, mustache, markdown, enlive, json, yaml and edn."
 :pod/version "0.1.9"
 :pod/license ""
 :pod/example "examples/bootleg.clj"
 :pod/language "clojure"
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/retrogradeorbit/bootleg/releases/download/v0.1.9/bootleg-0.1.9-macos-amd64.zip"
   :artifact/executable "bootleg"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/retrogradeorbit/bootleg/releases/download/v0.1.9/bootleg-0.1.9-linux-amd64.tgz"
   :artifact/executable "bootleg"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/retrogradeorbit/bootleg/releases/download/v0.1.9/bootleg-0.1.9-windows-amd64.zip"
   :artifact/executable "bootleg.exe"}]}
