{:pod/name org.babashka/tools-deps-native
 :pod/description "Tools deps alpha as a pod	"
 :pod/version "0.1.0"
 :pod/license ""
 :pod/example "examples/tools-deps-native.clj"
 :pod/language "clojure"
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/babashka/tools-deps-native/releases/download/v0.1.0/tools-deps-native-0.1.0-macos-amd64.zip"
   :artifact/executable "tools-deps-native"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/tools-deps-native/releases/download/v0.1.0/tools-deps-native-0.1.0-linux-amd64.zip"
   :artifact/executable "tools-deps-native"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/babashka/tools-deps-native/releases/download/v0.1.0/tools-deps-native-0.1.0-windows-amd64.zip"
   :artifact/executable "tools-deps-native.exe"}]}
