{:pod/name lispyclouds/docker
 :pod/description "A babashka pod for interacting with docker via clj-docker-client"
 :pod/version "0.1.1"
 :pod/license "LGPL 3.0+"
 :pod/example "examples/docker.clj"
 :pod/language "clojure"
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url
   "https://github.com/lispyclouds/pod-lispyclouds-docker/releases/download/0.1.1/pod-lispyclouds-docker-0.1.1-macos-amd64.zip"
   :artifact/executable "pod-lispyclouds-docker"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url
   "https://github.com/lispyclouds/pod-lispyclouds-docker/releases/download/0.1.1/pod-lispyclouds-docker-0.1.1-linux-amd64.zip"
   :artifact/executable "pod-lispyclouds-docker"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url
   "https://github.com/lispyclouds/pod-lispyclouds-docker/releases/download/0.1.1/pod-lispyclouds-docker-0.1.1-windows-amd64.zip"
   :artifact/executable "pod-lispyclouds-docker.exe"}]}
