{:pod/name borkdude/clj-kondo
 :pod/description ""
 :pod/version "2022.03.09"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/clj-kondo/clj-kondo/releases/download/v2022.03.09/clj-kondo-2022.03.09-macos-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/clj-kondo/clj-kondo/releases/download/v2022.03.09/clj-kondo-2022.03.09-linux-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/clj-kondo/clj-kondo/releases/download/v2022.03.09/clj-kondo-2022.03.09-windows-amd64.zip"
   :artifact/executable "clj-kondo.exe"}]}
