{:pod/name tzzh/aws
 :pod/description ""
 :pod/version "0.0.3"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/tzzh/pod-tzzh-aws/releases/download/v0.0.3/pod-tzzh-aws_0.0.3_Linux_x86_64.zip"
   :artifact/executable "pod-tzzh-aws"}
  {:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/tzzh/pod-tzzh-aws/releases/download/v0.0.3/pod-tzzh-aws_0.0.3_Darwin_x86_64.zip"
   :artifact/executable "pod-tzzh-aws"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/tzzh/pod-tzzh-aws/releases/download/v0.0.3/pod-tzzh-aws_0.0.3_Windows_x86_64.zip"
   :artifact/executable "pod-tzzh-aws.exe"}]}
