{:pod/name borkdude/clj-kondo
 :pod/description ""
 :pod/version "2021.06.18"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.06.18/clj-kondo-2021.06.18-macos-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.06.18/clj-kondo-2021.06.18-linux-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.06.18/clj-kondo-2021.06.18-windows-amd64.zip"
   :artifact/executable "clj-kondo.exe"}]}
