{:pod/name        huahaiy/datalevin
 :pod/description "Datalevin Database"
 :pod/version     "0.10.2"
 :pod/license     "EPL"
 :pod/example     "examples/datalevin.clj"
 :pod/language    "clojure"
 :pod/artifacts
 [{:os/name             "Linux.*"
   :os/arch             "amd64"
   :artifact/url        "https://github.com/datalevin/datalevin/releases/download/0.10.2/dtlv-0.10.2-ubuntu-22.04-amd64.zip"
   :artifact/executable "dtlv"}
  {:os/name             "Linux.*"
   :os/arch             "aarch64"
   :artifact/url        "https://github.com/datalevin/datalevin/releases/download/0.10.2/dtlv-0.10.2-ubuntu-24.04-arm-aarch64.zip"
   :artifact/executable "dtlv"}
  {:os/name             "Mac.*"
   :os/arch             "aarch64"
   :artifact/url        "https://github.com/datalevin/datalevin/releases/download/0.10.2/dtlv-0.10.2-macos-14-aarch64.zip"
   :artifact/executable "dtlv"}
  {:os/name             "Windows.*"
   :os/arch             "amd64"
   :artifact/url        "https://github.com/datalevin/datalevin/releases/download/0.10.2/dtlv-0.10.2-windows-amd64.zip"
   :artifact/executable "dtlv.exe"}]}
