{:pod/name rorokimdim/stash
 :pod/description "Encrypted text storage"
 :pod/version "0.3.2"
 :pod/license ""
 :pod/example "examples/stash.clj"
 :pod/language "haskell"
 :pod/artifacts
 [{:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/rorokimdim/stash/releases/download/v0.3.2/stash-Linux.zip"
   :artifact/executable "stash"}
  {:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/rorokimdim/stash/releases/download/v0.3.2/stash-macOS.zip"
   :artifact/executable "stash"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/rorokimdim/stash/releases/download/v0.3.2/stash-Windows.zip"
   :artifact/executable "stash.exe"}]}
