{:pod/name borkdude/clj-kondo
 :pod/description ""
 :pod/version "2021.02.13"
 :pod/license ""
 :pod/artifacts
 [{:os/name "Mac.*"
   :os/arch "x86_64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.02.13/clj-kondo-2021.02.13-macos-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Linux.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.02.13/clj-kondo-2021.02.13-linux-amd64.zip"
   :artifact/executable "clj-kondo"}
  {:os/name "Windows.*"
   :os/arch "amd64"
   :artifact/url "https://github.com/borkdude/clj-kondo/releases/download/v2021.02.13/clj-kondo-2021.02.13-windows-amd64.zip"
   :artifact/executable "clj-kondo.exe"}]}
